<div id="<%= dom_id entry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= entry.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= entry.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comments count:</strong>
    <%= entry.comments_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Points:</strong>
    <%= entry.points %>
  </p>

</div>
