<div class="p-4 shadow rounded-sm bg-white flex flex-col sm:flex-row justify-between items-center gap-4" id="<%= dom_id entry %>">
  <h1 class="text-lg font-bold text-slate-900"><%= entry.position %> - <%= entry.title %></h1>

  <div class="flex sm:flex-col gap-1 text-slate-600">
    <span class="flex items-center gap-1">
      <%= inline_svg_tag 'star.svg', class: "w-4 h-4 inline-block" %>
      <%= entry.points %>
    </span>
    <span class="flex items-center gap-1">
      <%= inline_svg_tag 'comment.svg', class: "w-4 h-4 inline-block" %>
      <%= entry.comments %>
    </span>
  </div>
</div>
